<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="serverX" class="payment.Server.Server">
    </bean>

    <bean id="account1" class="payment.Common.Account">
        <constructor-arg value="1111111"/>
        <constructor-arg value="RUB"/>
        <constructor-arg value="500.50"/>
    </bean>

    <bean id="account2" class="payment.Common.Account">
        <constructor-arg value="3333333"/>
        <constructor-arg value="RUB"/>
        <constructor-arg value="300.50"/>
    </bean>

    <bean id="phone" class="payment.Common.Phone">
        <constructor-arg value="+7423423"/>
    </bean>

    <bean id="phonePaymentX" class="payment.Common.PhonePayment">
    <constructor-arg ref="account1"/>
        <constructor-arg ref="account2"/>
        <constructor-arg ref="phone"/>
        <constructor-arg value="RUB"/>
        <constructor-arg value="150.00"/>
    </bean>

</beans>
