<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="phone" class="payment.ru.example.common.Phone">-->
<!--       <constructor-arg value="+79529008838"/>-->
<!--    </bean>-->

    <bean id="server" class="payment.ru.example.Server.Server">
    </bean>


</beans>